.container {
  padding: 30px 10px;
}

.box {
  padding: 10px 10px;
  background-color: darkkhaki;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

  .box:hover {
    background-color: gainsboro;
  }

  .box h5 {
    font-size: 16px;
    font-weight: bold;
  }

.read-more:hover {
  background-color: crimson;
}
